### Test notebook

In [ ]:
a = 5
print(a*2)
# This script multiplies a variable by 2 and prints the result.
# The variable 'a' is initialized to 5, and the output will be 10